.mainfiled{
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 1px solid rgb(226, 225, 225);
    border-radius:30px;
    padding: 5px 15px;
    width: 100%;
}
.homepage{
    width: 100%;
    max-width: 40%;
 
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:15px;
}
/* .heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
} */
.topic-input{
    width: 100%;
}
.mainfiled:focus-within {
  box-shadow: 0 0 10px 2px rgba(140, 82, 255, 0.5);
  border-color: rgba(140, 82, 255, 0.8);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.mainfiled input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    
}
.mainfiled input::placeholder{
    color: grey;
    font-size: 15px;
}
.mainfiled button{
    background-color: transparent;
    /* padding:10px 15px; */

}

@media(max-width:600px){
    .homepage{
    width: 100%;
    max-width: 100%;
 padding: 40px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:15px;
}
}